:host {
  display: inline-block;

  width: auto;

  font-family: var(--way-font-family, inherit);
  font-size: var(--way-font-size);
  line-height: 1.25rem;

  user-select: none;
  vertical-align: top;
  vertical-align: -webkit-baseline-middle;
  pointer-events: auto;

  font-kerning: none;

  --border-radius: 5px;
  --border-width: 3px;
  --border-color: #4598d8;
  --border-style: solid;
}

.input {
  display: block;
  appearance: none;
  background-color: var(--way-input-background-color);
  width: 100%;

  font-size: var(--way-input-font-size);

  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;

  border: solid var(--way-input-border-width) var(--way-input-border-color);
  border-radius: var(--way-input-border-radius);

  padding: 0.5rem 0.75rem;
}

.input-small {
  font-size: var(--way-input-font-size-small);
  padding: 0.25rem 0.375rem;
}

.input-large {
  font-size: var(--way-input-font-size-large);
  padding: 1rem 1.5rem;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  border-color: #a4cafe;
}

.label {
  font-weight: var(--way-label-font-weight);
  font-size: var(--way-label-font-size);
  text-align: left;
  display: block;
  margin-bottom: 0.25rem;
}

.label-small {
  font-size: var(--way-label-font-size-small);
}

.label-large {
  font-size: var(--way-label-font-size-large);
}

.label-inline {
  margin-right: 0.25rem;
}

.input-inline {
  display: flex;
  align-items: center;
}

.input-disabled {
  background-color: #eeeeee;
  opacity: 0.5;
  cursor: not-allowed;
}
