:host {
  font-family: var(--way-font-family, inherit);
  font-weight: var(--way-font-weight-semibold);
  font-size: var(--way-button-font-size-medium);
  font-kerning: none;

  --border-radius: var(--way-form-element-border-radius-medium);
  --border-color: var(--way-color-light);

  --color-selected: var(--way-color-primary);
  --color-highlighted: rgba(0, 0, 0, 0.1);
  --color-highlighted-selected: var(--way-color-primary-shade);
  --border-width: var(--way-form-element-border-width);
  --height: var(--way-form-element-height-medium);
  --tag-color: var(--way-color-primary);
}

.way-autosuggest {
  display: block;
  border: var(--border-width) solid var(--border-color);
  display: flex;
  position: relative;
  border-radius: var(--border-radius);
  min-height: var(--height);
  font-family: Helvetica, Arial, sans-serif;

  .has-error {
    border: 1px solid rgba(219, 0, 0, 0.5);
  }

  .input {
    flex: 1;
    outline: none;
    border: none;
    font-family: inherit;
    height: var(--height);
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    min-width: 1rem;
    padding: 0 5px;
  }

  .input-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .option-list {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    max-height: 200px;
    overflow-y: auto;
    background-color: #ffffff;

    &.has-focus {
      display: block;
    }
  }

  .option {
    padding: 8px 10px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .option-selected {
    background-color: var(--color-selected);

    &:hover {
      background-color: var(--color-highlighted-selected);
    }
  }

  .option--highlighted {
    background-color: var(--color-highlighted);
  }

  .option-selected.option--highlighted {
    background-color: var(--color-highlighted-selected);
  }
}

.w2w-tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.tag {
  padding: 4px 6px;
  margin: 4px;
  background-color: var(--tag-color);
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  max-width: calc(100% - 20px);

  .counter {
    min-width: 46px;
  }

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
