.way-autosuggest {
  --color-selected: rgba(133, 172, 226, 0.6);
  --color-highlighted: rgba(0, 0, 0, 0.1);
  --color-highlighted-selected: rgba(133, 172, 226, 0.9);

  --height: 40px;

  display: block;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  position: relative;
  border-radius: 3px;
  min-height: var(--height);
  font-family: Helvetica, Arial, sans-serif;

  .has-error {
    border: 1px solid rgba(219, 0, 0, 0.5);
  }

  .input {
    flex: 1;
    outline: none;
    border: none;
    font-family: inherit;
    height: var(--height);
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    min-width: 1rem;
    padding: 0 5px;
  }

  .input-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .option-list {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    max-height: 200px;
    overflow-y: auto;
    background-color: #ffffff;

    &.has-focus {
      display: block;
    }
  }

  .option {
    padding: 8px 10px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .option-selected {
    background-color: var(--color-selected);

    &:hover {
      background-color: var(--color-highlighted-selected);
    }
  }

  .option--highlighted {
    background-color: var(--color-highlighted);
  }

  .option-selected.option--highlighted {
    background-color: var(--color-highlighted-selected);
  }
}

.w2w-tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.tag {
  padding: 4px 6px;
  margin: 4px;
  background-color: palevioletred;
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 3px;
  max-width: calc(100% - 20px);

  &--counter {
    min-width: 46px;
  }

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
