/** Graphite Design System CSS Variables overrides **/
:root {
  --gr-font-family: Avenir, Helvetica, Arial, sans-serif;

  --gr-color-primary: #42b983;
  --gr-color-primary-rgb: 66, 185, 131;
  --gr-color-primary-contrast: #ffffff;
  --gr-color-primary-contrast-rgb: 255, 255, 255;
  --gr-color-primary-shade: #3ba575;
  --gr-color-primary-tint: #69c99e;
}
