@import '../../themes/graphite.globals';

:host {
  /**
   * @prop --border-radius: Border radius of the fieldset
   * @prop --border-color: Border color of the fieldset
   * @prop --border-color-invalid: Border color of the fieldset when invalid
   *
   * @prop --padding-top: Top padding of the fieldset
   * @prop --padding-end: Right padding of the fieldset (will be left padding when we support right-to-left direction)
   * @prop --padding-bottom: Bottom padding of the fieldset
   * @prop --padding-start: Left padding of the fieldset (will be right padding when we support right-to-left direction)
   *
   * @prop --label-color: Color of the label
   *
   * @prop --label-padding-end: Right padding of the label (will be left padding when we support right-to-left direction)
   * @prop --label-padding-start: Left padding of the label (will be right padding when we support right-to-left direction)
   *
   * @prop --margin-between-radios: Margin between the gr-radio children
   *
   * @prop --radio-label-color-invalid: Color of the radio label's when invalid
   */
  --border-radius: var(--gr-form-element-border-radius-medium);
  --border-color: var(--gr-color-light);
  --border-color-invalid: var(--gr-color-danger);

  --padding-top: var(--gr-spacing-x-small);
  --padding-start: var(--gr-spacing-large);
  --padding-end: var(--gr-spacing-large);
  --padding-bottom: var(--gr-spacing-small);

  --label-color: var(--gr-color-dark-tint);

  --label-padding-start: var(--gr-spacing-xx-small);
  --label-padding-end: var(--gr-spacing-xx-small);

  --margin-between-radios: var(--gr-spacing-xx-small);

  --radio-label-color-invalid: var(--gr-color-danger);

  display: block;
  box-sizing: border-box;
}

.radio-group {
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);

  padding-top: var(--padding-top);
  padding-left: var(--padding-start);
  padding-right: var(--padding-end);
  padding-bottom: var(--padding-bottom);

  margin: 0;

  .radio-group-label {
    font-family: var(--gr-font-family);
    font-size: var(--gr-form-element-font-size-medium);
    font-weight: var(--gr-font-weight-normal);
    color: var(--label-color);

    padding-top: 0;
    padding-left: var(--label-padding-start);
    padding-right: var(--label-padding-end);
    padding-bottom: 0;
  }
}

.radio-group-invalid {
  border: solid 1px var(--border-color-invalid);
}

::slotted(gr-radio:not(:last-of-type)) {
  display: block;
  margin-bottom: var(--margin-between-radios);
}

.radio-group-invalid.radio-group-no-fieldset {
  ::slotted(gr-radio) {
    --label-color: var(--radio-label-color-invalid);
  }
}

.radio-group-no-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;

  .radio-group-label {
    @include visually-hidden();
  }
}

// Invalid text
.invalid-text {
  display: none;
}
