@import '../../functional-components/form-control/form-control';
@import '../../themes/w2wds.globals';

:host {
  display: block;
}

.select {
  display: block;
}

.select-box {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
  font-family: var(--way-font-family);
  font-weight: var(--way-font-weight-normal);
  letter-spacing: normal;
  background-color: var(--way-color-white);
  border: solid 1px var(--way-color-light);
  color: var(--way-color-dark-tint);
  vertical-align: middle;
  overflow: hidden;
  transition: 150ms color, 150ms border, 150ms box-shadow;
  cursor: pointer;
}

.select:not(.select-disabled) .select-box:hover {
  background-color: var(--way-color-white);
  border-color: var(--way-color-medium);
}

.select:not(.select-disabled) .select-box:focus {
  outline: none;
}

.select-disabled {
  .select-box {
    opacity: 0.5;
    cursor: not-allowed;
    outline: none;
  }

  .select-tags,
  .select-clear {
    pointer-events: none;
  }
}

.select-label {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  user-select: none;

  @include hide-scrollbar;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.select-clear {
  --color: var(--way-color-medium);
  --color-hover: var(--way-color-dark);
  flex: 0 0 auto;

  svg {
    width: 1.2em;
    height: 1.2em;
  }
}

.select-icon {
  flex: 0 0 auto;
  display: inline-flex;
  transition: 250ms transform ease;

  svg {
    width: 1em;
    height: 1em;
  }
}

.select--open .select__icon {
  transform: rotate(-180deg);
}

// Placeholder
.select-placeholder-visible .select-label {
  color: var(--way-color-medium-tint);
}

.select-disabled.select-placeholder-visible .select-label {
  color: var(--way-color-medium-shade);
}

// Tags
.select-tags {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: var(--way-spacing-xx-small);
}

// Hidden input (for form control validation to show)
.select-hidden-select {
  @include visually-hidden();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Size modifiers
// --------------------------------------------------

.select-small {
  .select-box {
    border-radius: var(--way-form-element-border-radius-small);
    font-size: var(--way-form-element-font-size-small);
    min-height: var(--way-form-element-height-small);
  }

  .select-label {
    margin: 0 var(--way-spacing-small);
  }

  .select-clear {
    margin-right: var(--way-spacing-small);

    svg {
      font-size: var(--way-form-element-font-size-small);
    }
  }

  .select-icon {
    margin-right: var(--way-spacing-small);

    svg {
      font-size: var(--way-form-element-font-size-small);
    }
  }

  .select-tags {
    padding-bottom: 2px;

    way-tag {
      padding-top: 2px;
    }

    way-tag:not(:last-of-type) {
      margin-right: var(--way-spacing-xx-small);
    }
  }

  &.select-has-tags .select-label {
    margin-left: 0;
  }
}

.select-medium {
  .select-box {
    border-radius: var(--way-form-element-border-radius-small);
    font-size: var(--way-form-element-font-size-medium);
    min-height: var(--way-form-element-height-medium);
  }

  .select-label {
    margin: 0 var(--way-spacing-medium);
  }

  .select-clear {
    margin-right: var(--way-spacing-medium);

    svg {
      font-size: var(--way-form-element-font-size-medium);
    }
  }

  .select-icon {
    margin-right: var(--way-spacing-medium);

    svg {
      font-size: var(--way-form-element-font-size-medium);
    }
  }

  .select-tags {
    padding-bottom: 3px;

    way-tag {
      padding-top: 3px;
    }

    way-tag:not(:last-of-type) {
      margin-right: var(--way-spacing-xx-small);
    }
  }

  &.select-has-tags .select-label {
    margin-left: 0;
  }
}

.select-large {
  .select-box {
    border-radius: var(--way-form-element-border-radius-small);
    font-size: var(--way-form-element-font-size-large);
    min-height: var(--way-form-element-height-large);
  }

  .select-label {
    margin: 0 var(--way-spacing-large);
  }

  .select-clear {
    margin-right: var(--way-spacing-large);

    svg {
      font-size: var(--way-form-element-font-size-medium);
    }
  }

  .select-icon {
    margin-right: var(--way-spacing-large);

    svg {
      font-size: var(--way-form-element-font-size-large);
    }
  }

  .select-tags {
    padding-bottom: 4px;

    way-tag {
      padding-top: 4px;
    }

    way-tag:not(:last-of-type) {
      margin-right: var(--way-spacing-xx-small);
    }
  }

  &.select-has-tags .select-label {
    margin-left: 0;
  }
}

// Pill modifier
// --------------------------------------------------

.select-pill {
  &.select-small .select-box {
    border-radius: var(--way-form-element-height-small);
  }

  &.select-medium .select-box {
    border-radius: var(--way-form-element-height-medium);
  }

  &.select-large .select-box {
    border-radius: var(--way-form-element-height-large);
  }
}
