.form-control {
  .form-control-label {
    display: none;
  }

  .form-control-help-text {
    display: none;
  }

  .form-control-invalid-text {
    display: none;
  }
}

// Label
.form-control-has-label {
  .form-control-label {
    display: inline-block;
    line-height: var(--gr-line-height-normal);
    color: var(--gr-form-element-label-color);
    margin-bottom: var(--gr-spacing-xxx-small);
  }

  &.form-control-small .form-control-label {
    font-size: var(--gr-form-element-label-font-size-small);
  }

  &.form-control-medium .form-control-label {
    font-size: var(--gr-form-element-label-font-size-medium);
  }

  &.form-control-large .form-control-label {
    font-size: var(--gr-form-element-label-font-size-large);
  }
}

// Help text
.form-control-has-help-text {
  .form-control-help-text {
    display: block;
    line-height: var(--gr-line-height-normal);
    color: var(--gr-form-element-help-text-color);
    margin-top: var(--gr-spacing-xxx-small);
  }

  &.form-control-small .form-control-help-text {
    font-size: var(--gr-form-element-help-text-font-size-small);
  }

  &.form-control-medium .form-control-help-text {
    font-size: var(--gr-form-element-help-text-font-size-medium);
  }

  &.form-control-large .form-control-help-text {
    font-size: var(--gr-form-element-help-text-font-size-large);
  }
}

// Invalid text
.form-control-has-invalid-text {
  .form-control-invalid-text {
    display: flex;
    margin-left: -2px;
    line-height: var(--gr-line-height-normal);
    color: var(--gr-form-element-invalid-text-color);
    margin-top: var(--gr-spacing-xxx-small);

    .icon {
      margin-top: var(--gr-spacing-xxx-small);
      margin-right: var(--gr-spacing-xx-small);

      svg {
        width: 1.3em;
        height: 1.3em;
      }
    }
  }

  &.form-control-small .form-control-invalid-text {
    font-size: var(--gr-form-element-invalid-text-font-size-small);
  }

  &.form-control-medium .form-control-invalid-text {
    font-size: var(--gr-form-element-invalid-text-font-size-medium);
  }

  &.form-control-large .form-control-invalid-text {
    font-size: var(--gr-form-element-invalid-text-font-size-large);
  }
}
