:root {
  // Theme color tokens
  // --------------------------------------------------

  --gra-color-primary: #1799de;
  --gra-color-primary-contrast: #ffffff;
  --gra-color-primary-shade: #00679e;
  --gra-color-primary-tint: #46b2ec;

  --gra-color-secondary: #051f2c;
  --gra-color-secondary-contrast: #ffffff;
  --gra-color-secondary-shade: #000;
  --gra-color-secondary-tint: #0a415c;

  --gra-color-danger: #ff5363;
  --gra-color-danger-contrast: #051f2c;
  --gra-color-danger-shade: #ff1f35;
  --gra-color-danger-tint: #ff8591;

  --gra-color-light: #dbe5eb;
  --gra-color-light-contrast: #051f2c;
  --gra-color-light-shade: #c1d1db;
  --gra-color-light-tint: #e7eef4;

  --gra-color-medium: #697886;
  --gra-color-medium-contrast: #ffffff;
  --gra-color-medium-shade: #4c5960;
  --gra-color-medium-tint: #9eaeb7;

  --gra-color-dark: #02131b;
  --gra-color-dark-contrast: #ffffff;
  --gra-color-dark-shade: #000000;
  --gra-color-dark-tint: #051f2c;

  --gra-color-white: #ffffff;

  // Border radius tokens
  // --------------------------------------------------
  --gra-border-radius-small: 0.125rem; // 2px
  --gra-border-radius-medium: 0.25rem; // 4px
  --gra-border-radius-large: 0.5rem; // 8px
  --gra-border-radius-x-large: 1rem; // 16px

  // Spacing tokens
  // --------------------------------------------------

  --gra-spacing-xxx-small: 0.125rem; // 2px
  --gra-spacing-xx-small: 0.25rem; // 4px
  --gra-spacing-x-small: 0.5rem; // 8px
  --gra-spacing-small: 0.75rem; // 12px
  --gra-spacing-medium: 1rem; // 16px
  --gra-spacing-large: 1.25rem; // 20px
  --gra-spacing-x-large: 1.75rem; // 28px
  --gra-spacing-xx-large: 2.25rem; // 36px
  --gra-spacing-xxx-large: 3rem; // 48px
  --gra-spacing-xxxx-large: 4.5rem; // 72px

  // Typography tokens
  // --------------------------------------------------
  --gra-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  // Font sizes
  --gra-font-size-xx-small: 0.625rem; // 10px
  --gra-font-size-x-small: 0.75rem; // 12px
  --gra-font-size-small: 0.875rem; // 14px
  --gra-font-size-medium: 1rem; // 16px
  --gra-font-size-large: 1.25rem; // 20px
  --gra-font-size-x-large: 1.5rem; // 24px
  --gra-font-size-xx-large: 2.25rem; // 36px
  --gra-font-size-xxx-large: 3rem; // 48px
  --gra-font-size-xxxx-large: 4.5rem; // 72px

  // Font weights
  --gra-font-weight-light: 300;
  --gra-font-weight-normal: 400;
  --gra-font-weight-semibold: 500;
  --gra-font-weight-bold: 700;

  // Form tokens
  // -------------------------------------------------

  --gra-form-element-font-size-x-small: var(--gra-font-size-x-small);
  --gra-form-element-font-size-small: var(--gra-font-size-small);
  --gra-form-element-font-size-medium: var(--gra-font-size-medium);
  --gra-form-element-font-size-large: var(--gra-font-size-large);

  --gra-form-element-height-small: 2.188rem; // 35px
  --gra-form-element-height-medium: 3.125rem; // 50px
  --gra-form-element-height-large: 4.063rem; // 65px

  --gra-form-element-input-border-width: 1px;
  --gra-form-element-border-width: 2px;

  --gra-form-element-border-radius-small: var(--gra-border-radius-small);
  --gra-form-element-border-radius-medium: var(--gra-border-radius-medium);
  --gra-form-element-border-radius-large: var(--gra-border-radius-large);

  // Label
  // -------------------------------------------------
  --gra-label-font-size: var(--gra-form-font-size);
  --gra-label-font-size-small: var(--gra-form-font-size-small);
  --gra-label-font-size-large: var(--gra-form-font-size-large);
  --gra-label-font-weight: var(--gra-font-weight-semibold);
}



