:host {
  display: inline-block;

  --color: var(--gr-color-dark);
  --color-focused: var(--gr-color-primary-contrast);
  --color-disabled: var(--gr-color-medium);
}

.tab {
  display: inline-flex;
  align-items: center;
  font-family: var(--gr-font-family);
  font-size: var(--gr-font-size-medium);
  font-weight: var(--gr-font-weight-normal);
  color: var(--color);
  padding: var(--gr-spacing-small) var(--gr-spacing-medium);
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: 500ms box-shadow, 500ms color;
}

.pill-top {
  padding: var(--gr-spacing-xxx-small) var(--gr-spacing-large);
}

.tab:hover:not(.tab--disabled) {
  color: var(--color-disabled);
}

.tab:focus {
  outline: none;
}

.tab.tab--active:not(.tab--disabled) {
  color: var(--gr-color-primary);
}

.pill-top.tab--active:not(.tab--disabled) {
  color: white;
}

.tab.tab--closable {
  padding-right: var(--gr-spacing-small);
}
.tab.tab--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.tab__close-button {
  font-size: var(--gr-font-size-large);
  margin-left: var(--gr-spacing-xx-small);
}
.tab__close-button::part(base) {
  padding: var(--gr-spacing-xxx-small);
}
