@import '../../functional-components/form-control/form-control';
@import '../../themes/w2wds.globals';

:host {
  display: block;
}

.textarea {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  font-family: var(--way-font-family);
  font-weight: var(--way-font-weight-normal);
  line-height: var(--way-line-height-normal);
  letter-spacing: var(--way-letter-spacing-normal);
  background-color: var(--way-color-white);
  border: solid 1px var(--way-color-light);
  border-radius: var(--way-form-element-border-radius-small);
  vertical-align: middle;
  transition: 150ms color, 150ms border, 150ms box-shadow;
  cursor: text;
  padding: var(--way-spacing-x-small) var(--way-spacing-small);

  &:hover:not(.textarea-disabled) {
    background-color: var(--way-color-white);
    border-color: var(--way-color-medium);
  }

  &.textarea-focused:not(.textarea-disabled) {
    background-color: var(--way-color-white);
    border-color: var(--way-color-primary);
    box-shadow: 0 0 0 var(--way-focus-ring-width) rgb(var(--way-color-primary-rgb), 0.33);
  }

  &.textarea-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    outline: none;
  }
}

.textarea-control {
  flex: 1 1 auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.4;
  color: var(--way-color-dark-tint);
  border: none;
  background: none;
  box-shadow: none;
  cursor: inherit;
  -webkit-appearance: none;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  &::placeholder {
    color: var(--way-color-medium-tint);
    user-select: none;
  }

  &:focus {
    outline: none;
  }
}

// Resize types
// --------------------------------------------------

.textarea-resize-none .textarea-control {
  resize: none;
}

.textarea-resize-vertical .textarea-control {
  resize: vertical;
}

.textarea-resize-auto .textarea-control {
  height: auto;
  resize: none;
}
