:host {
  /**
    * @prop --border-radius: Border radius of the textarea
    * @prop --border-width: Border width of the button
    * @prop --border-style: Border style of the button
    * @prop --border-color: Border color of the button
    */
  display: inline-block;

  width: auto;

  font-family: var(--way-font-family, inherit);
  font-size: var(--way-font-size);
  line-height: 1.25rem;

  user-select: none;
  vertical-align: top;
  vertical-align: -webkit-baseline-middle;
  pointer-events: auto;

  font-kerning: none;

  --border-radius: var(--way-form-element-border-radius-medium);
  --border-width: var(--way-form-element-input-border-width);
  --border-color: var(--way-color-medium-tint);
  --border-color-focus: var(--way-color-light);
  --border-style: solid;
  --font-size: var(--way-form-element-font-size-small);
  --background-color: var(--way-color-white);
}

.textarea {
  display: block;
  appearance: none;
  background-color: var(--background-color);
  width: 100%;

  font-size: var(--font-size);

  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;

  border: var(--border-style) var(--border-width) var(--border-color);
  border-radius: var(--border-radius);

  padding: var(--way-spacing-x-small) var(--way-spacing-small);
}

.textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  border-color: var(--border-color-focus);
}

.label {
  font-weight: var(--way-label-font-weight);
  font-size: var(--way-label-font-size);
  text-align: left;
  display: block;
  margin-bottom: var(--way-spacing-xx-small);
}

.textarea-disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
