:host {
  display: inline-block;

  width: auto;

  font-family: var(--way-font-family, inherit);

  user-select: none;
  vertical-align: top;
  vertical-align: -webkit-baseline-middle;
  pointer-events: auto;

  font-kerning: none;

  --border-radius: 5px;
  --border-width: 3px;
  --border-color: #4598d8;
  --border-style: solid;
}

:host(.button-solid) {
  --background: #4598d8;
  --color: #ffffff;
}

:host(.button-outline) {
  --border-color: #dde5ea;
  --background: transparent;
  --color: #0c1f2b;
}

.button-native {
  border-radius: var(--border-radius);

  display: block;
  position: relative;

  padding: 20px;

  width: 100%;
  height: 100%;

  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);

  background: var(--background);
  color: var(--color);

  line-height: 1;

  cursor: pointer;

  z-index: 0;
  box-sizing: border-box;

  text-decoration: none;
}

.button-inner {
  display: flex;
  position: relative;

  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  z-index: 1;
}
